---
import Socials from "@/components/shared/Socials.astro";
---

<div
  class="flex flex-col items-center md:flex-row md:justify-between gap-2 border-t-2 border-neutral-500 p-5"
>
  <Socials />
  <p class="flex flex-row p-1 text-neutral-900 dark:text-neutral-100">
    Made with <img class="p-1" src="/assets/svg/redHeart.svg" /> in India !
  </p>
</div>
