---
import ExperienceCard from "@/components/ExperienceCard.astro";
import IntroCard from "@/components/IntroCard.astro";
---

<aside
  class="flex w-full flex-col gap-4 sm:flex-row md:flex-col md:justify-items-start border-b-2 border-neutral-500 p-3 md:border-r-2 md:border-b-0 md:h-full"
>
  <IntroCard />
  <ExperienceCard />
  <!-- 
       <div class="hidden md:block mt-auto">
          //RecommendationsCard or ContactForm, etc.
       </div> 
  -->
</aside>
